<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
  <!-- <% include ../partials/header.ejs %> -->
</head>

<body>
  <!-- <% include ../partials/nav.ejs %>   -->
<div>
    <header id="headerOne"></header>
</div>
<div id="updateImage">
    <div id="combinedBox">
        <div id="welcomeBox">
            <h1 id="lineOne">WELCOME</h1>
        </div>
        <div id="paragraphBox">
            <p id="lineTwo">We know how important it is to stay connected. If you would like to receive tips on how to reduce COVID-19 Anxiety, as well as a guide to health safety, please input your contact information below.
            </p>
        </div>
        <div id="inputBox">
            <label for="firstName">First Name:</label>
            <input type="text" tabindex="0" id="firstName">
            <br>
            <br>
            <label for="lastName">Last Name:</label>
            <input type="text" tabindex="0"  id="lastName">
            <br>
            <br>
            <label for="phoneNumber">Phone Number:  </label>
            <input type="text" placeholder="XXX-XXX-XXXX" tabindex="0" id="phoneNumber">
            <br>
            <br>
        </div>
        <div>
            <button id="submitButton" type="submit" onclick="submitForm()" tabindex="0"> Notify Me!</button>
        </div>
    </div>
</div>
    <script src="main.js"></script>
</body>

</html>