
/* Text */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Homepage */

#updateImage {
    background-image: url(images/inspiration.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

#combinedBox {
    position: relative;
    padding: 10%;
}

#lineOne {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin: 30px;
}

#paragraph {
    text-align: center;
    height: 6%;
}

/* Input Fields */

#firstName, #lastName {
    width: 18%;
    padding: 4px;
    border-style: solid;
    border-radius: 2px;
}

#areaCode, #firstThree, #lastFour {
    width: 3.8%;
    padding: 4px;
    border-style: solid;
    border-radius: 2px;
}

/* Button */

#submitButton {
    margin: 2%;
    padding: 8px 24px;
    background-color: #C4C4C4;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
}

 